<widget id="com.appacuario.miapp" version="0.1.0">
    <name>App Acuario</name>
    <description>
       Aplicación Informativa para Acuarios 
    </description>
    <author email="braisjorge@gmail.com" href="http://braisjorge.xyz">
        El Capitán | Brais Jorge
    </author>
     <icon src="icon.png" />
</widget>